/* Custom CSS for the login page */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

main .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 95px;
}

main .login-card {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px;
  width: 400px;
  text-align: center;
}

.login-card h1 {
  color: #542269;
}

.login-label-float {
  position: relative;
  padding-top: 15px;
  margin-top: 2%;
  margin-bottom: 7%;
}

.login-label-float input {
  width: 100%;
  padding: 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #542269;
  background-color: transparent;
  outline: 0;
  transition: 0.1s linear;
  min-width: 180px;
  font-size: 16px;
}

.login-label-float label {
  position: absolute;
  top: 40%;
  left: 0;
  transition: 0.3s ease-out;
  color: #000;
}

.login-label-float input:focus + label,
.login-label-float input:valid + label {
  top: 0px;
  font-size: 10pt;
}

.login-label-float input:focus {
  border-color: #871a71;
}

.login-form-check {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.login-form-check-input {
  margin-right: 10px;
}

.login-form-check-label {
  color: #542269;
}

input[type="submit"] {
  background-color: transparent;
  color: #542269;
  border: 1px solid #542269;
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

input[type="submit"]:hover {
  background-color: #542269;
  color: #fff;
}

.login-justify {
  display: flex;
  justify-content: center;
}

.login-sep {
  margin-top: 10%;
  text-align: center;
}

.login-sep a {
  font-weight: bold;
  text-decoration: none;
  color: #871a71;
}
