.translator-container {
  margin-top: 100px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.translator-header {
  background-color: #f3f3f6;
  color: #3f3c3c;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.translation-area {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.input-section, .output-section {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.translator-textarea, .output-text {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #c5cae9;
  border-radius: 5px;
  resize: vertical;
  height: 200px;
}

.translator-button {
  background-color: #27a8c5;
  color: #fff;
  border: none;
  padding: 15px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}

.translator-button:hover {
  background-color: #1e8ca0;
}

.sign-box {
  width: 100%;
  height: 300px; /* Adjusted to make the box larger */
  border-radius: 5px;
  background-color: #bee0e7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #fff;
  margin-bottom: 20px;
  border: 3px solid #27a8c5;
}

.sign-box video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover; /* Ensures the video fits the container while maintaining aspect ratio */
}
