{% if current_user.is_admin %}
    {% extends "admin_layout.html" %}
{% else %}
    {% extends "layout.html" %}
{% endif %}

{% block content %}
<main>
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_word.css') }}" />
<div class="dictionary-container">
  <h2>Add New Word to Dictionary</h2>
  <form id="addWordForm" method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="dictionary-form-group">
      <label for="word" class="dictionary-label">Word:</label>
      {% if form.word.errors %}
        {{ form.word(class="dictionary-input is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.word.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.word(class="dictionary-input") }}
      {% endif %}
    </div>
    <div class="dictionary-form-group">
      <label for="signVideo" class="dictionary-label">Sign Language Video:</label>
      {{ form.sign_video(class="dictionary-file-input") }}
    </div>
    {{ form.submit(class="dictionary-submit-btn") }}
  </form>
</div>
</main>
{% endblock content %}
