{% extends 'layout.html' %}
{% block content %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}" />
<script src="{{url_for('static', filename='js/login.js')}}"></script>
{% endblock styles %}
<main>
  <div class="register-container">
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <div class="register-card">
        <h1>Sign up</h1>
        <div class="register-columns">
          <div class="register-left-column">
            <div class="register-label-float">
              {{ form.first_name(id="first_name") }}
              {% if form.first_name.errors %}
              {{ form.first_name.label(for="first_name", class="is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.first_name.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.first_name.label(for="first_name") }}
              {% endif %}
            </div>
            <div class="register-label-float">
              {{ form.last_name(id="last_name") }}
              {% if form.last_name.errors %}
              {{ form.last_name.label(for="last_name", class="is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.last_name.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.last_name.label(for="last_name") }}
              {% endif %}
            </div>
            <div class="register-label-float">
              {{ form.username(id="username") }}
              {% if form.username.errors %}
              {{ form.username.label(for="username", class="is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.username.label(for="username") }}
              {% endif %}
            </div>
          </div>
          <div class="register-right-column">
            <div class="register-label-float">
              {{ form.email(id="email") }}
              {% if form.email.errors %}
              {{ form.email.label(for="email", class="is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.email.label(for="email") }}
              {% endif %}
            </div>
            <div class="register-label-float">
              {{ form.password(id="password") }}
              {% if form.password.errors %}
              {{ form.password.label(for="password", class="is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.password.label(for="password") }}
              {% endif %}
            </div>
            <div class="register-label-float">
              {{ form.confirm_password(id="confirm_password") }}
              {% if form.confirm_password.errors %}
              {{ form.confirm_password.label(for="confirm_password", class="is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.confirm_password.label(for="confirm_password") }}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="register-justify">
          {{ form.submit() }}
        </div>
        <div class="register-sep">
          <p>
            Already have an account
            <a href="{{url_for('users.login')}}">Login</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock content %}
